<!doctype html>
<html lang='en'>
    <head>
        <!-- Required meta tags -->
        <meta charset='utf-8'>
        <meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no'>

        <!-- Bootstrap CSS -->
        <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T' crossorigin='anonymous'>

        <!-- Linked Style Sheet & Reset etc.-->
        <link rel='meyer-reset' type='reset' href='assets/css/reset.css'>
        <link rel='stylesheet' href='assets/css/style.css'>

        <title>Attack of Kurt</title>
        
        <div id='containerHeader'>

    
    
        </div>

    </head>
    <body id='gameBody'>
        <h1>Attack of <span id='titleTA'></span></h1>
        
        <section id="main-section">
            <div ><h2 id="title"></h2></div>
            <div>
                <p>
                    <span id='scoreWord'></span>
                    <span id='gameScore'></span>
                </p>
            </div>
            <article>
                    <form>
                        <div id='nameWords'></div><br>
                        <input type="text" name="Name" class="contact-form" id="nameForm"><br>
                        <button type="button" id='saveBTN' class="button" onclick="document.location = 'index.html'">Save and Restart Game</button>
                    </form>
            </article>
        </section>

            

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
        <script src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js' integrity='sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM' crossorigin='anonymous'></script>
        <script src="//cdn.jsdelivr.net/npm/phaser@3.11.0/dist/phaser.js"></script>
        
         <!--Script App Inserted etc.-->
        <script src='assets/js/game.js' charset='utf-8'></script>
        <script src='views.js'></script>
        
    </div>
    </body>
    

    <footer>
       
    </footer>