<!doctype html>
<html lang='en'>

<head>
    <!-- Required meta tags -->
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no'>

    <!-- Bootstrap CSS -->
    <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'
        integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T' crossorigin='anonymous'>

    <!-- Linked Style Sheet & Reset etc.-->
    <link rel='meyer-reset' type='reset' href='assets/css/reset.css'>
    <link rel='stylesheet' href='assets/css/style.css'>

    <title>Bootcamp Attack</title>

    <div id='containerHeader'></div>
    <div id='containerBody'>
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
        <script src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js'
            integrity='sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM'
            crossorigin='anonymous'></script>
        <script src="//cdn.jsdelivr.net/npm/phaser@3.11.0/dist/phaser.js"></script>

        <!--Script App Inserted etc.-->

        <script src='views.js'></script>

        <link href="https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap" rel="stylesheet">

    </div>

</head>
<header>

    <div id="headerBar">
        <div class="container">
            <h1 class="display-4"> Bootcamp Attack </h1>
            <p class="lead"> <i>MAYBE</i> you can beat the TAs... but do you have what it takes to defeat Chris?</p>
        </div>
    </div>
</header>

<body>
    <div id="mainBox" class="container">
        <div class="row">
            <div id='tableBox' class="col-sm">
                <table class="table table-sm img-thumbnail rounded table-striped" id="tableActual">
                    <thead>
                        <tr>
                            <th scope="col">Rank</th>
                            <th scope="col">Name</th>
                            <th scope="col">Score</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Jean</td>
                            <td>437</td>

                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Nilsen</td>
                            <td>378</td>

                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Derrick</td>
                            <td>014</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div id='characterImg' class="selectionBox col-4">
                <h2> Character:</h2>
                <img src="assets/images/sprites/aliensSprite/alien/PNG/alien_predator_mask/predatormask__0000_idle_1.png"
                    class="img-fluid  mx-auto d-block" alt="Responsive image" id="userCHAR">
                <!-- <button type="button" id='jean' class="btn btn-primary">Jean</button> -->
                <button type="button" id='nilsen' class="btn btn-outline-dark mx-auto d-block">Elliot</button>
                <!-- <button type="button" id='derrick' class="btn btn-primary">Derrick</button> -->
            </div>
            <div id='bgImg' class='selectionBox col-8 img'>
                <h2> Level</h2>
                <img src="assets/images/backgrounds/parallaxBackground/bgnIndex2.png" id="userIMG"
                    class="img-fluid  mx-auto d-block" alt="Responsive image" style="max-height: 400px;">
                <!-- <button type="button" id='imgMountain' class="btn btn-primary">Mountains</button> -->
                <!-- <button type="button" id='imgForest' class="btn btn-primary">Forest</button> -->
                <button type="button" id='imgPostApocalyptic' class="btn btn-outline-dark mx-auto d-block">Post
                    Apocalyptic</button>
            </div>
        </div>
        <div class="container" id="buttonBox">
            <div class="col-sm">
                <button onclick="document.location = 'game.html'" type="button" id='ready' class="btn btn-outline-dark btn-lg mx-auto d-block">Start
                    Game</button>
            </div>
        </div>
    </div>
    <script src='views.js'></script>
</body>

<footer>


</footer>

</html>